<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>         <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
    <!--[if IE 8]>         <html class="lt-ie9" lang="en"> <![endif]-->
      <!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
        <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>{% if not(is_front_page) %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
          {% if meta.description %}
          <meta name="description" content="{{ meta.description }}">
          {% endif %}
          {% if meta.robots %}
          <meta name="robots" content="{{ meta.robots }}">
          {% endif %}
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="icon" href="{{ theme_url }}/favicon.ico" type="image/x-icon" />
          <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
          <link rel="stylesheet" href="{{ theme_url }}/styles/main.css">
          <link rel="stylesheet" href="{{ theme_url }}/styles/navigataur.css">
          <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
          <script type="text/javascript" src="{{ theme_url }}/zigfy/js/jquery.js"></script>
          <script type="text/javascript" src="{{ theme_url }}/zigfy/js/jquery.zigfy.js"></script>
          <script type="text/javascript" src="{{ theme_url }}/javascripts/vendor/respond.min.js"></script>
          <link rel="stylesheet" href="{{ theme_url }}/zigfy/css/zigfy.css" type="text/css" media="all">
        </head>
        <body class="gallery">
          <div id="container" class="pure-g-r">
            <div class="sidebar pure-u">
              {% if not(current_page.url == base_url ~ '/') %}
              <a href="{{ parent_url }}" class="previous">
                <!-- <img src="{{ theme_url }}/images/logo.png" alt="{{ site_title }}" /> -->
              </a>
              {% endif %}
              <a href="{{ current_page.url }}" class="current">{% if meta.title %}{{ meta.title }}{% else %}{{ meta.url | shorturl }}{% endif %}</a>
            </div>
            <div class="pure-u-1">
              <div id="content">
                <div class="post">
                  {% if meta.date %}
                  <p class="meta">Published {{ meta.date_formatted }}</p>
                  {% endif %}
                  {% spaceless %}{{ content }}{% endspaceless %}
                </div>
                <div class="thumbnails">
                  {% for file in medias if file.is_image %}
                  <img src="{{ file.thumbnail.url }}" data-url="{{ image.url }}" data-index="{{ loop.index0 }}" />
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <!-- full screen gallery -->
          <div id="gallery" class="zigfy full" data-zigfy-resize="true" data-zigfy-layout="full" data-zigfy-align="center" data-zigfy-padding="50">
            <div class="nav full"></div>
            <div class="exit"></div>
            {% for file in medias if file.is_image %}
            <img src="{{ file.url }}" width="{{ file.width }}" height="{{ file.height }}" />
            {% endfor %}
          </div>
          <script type="text/javascript">
            $(function(){
              $('#content .thumbnails img').click(function(){
                var index = $(this).data('index') || 0;
                $('#gallery').zigfy('select', index).fadeIn();
                });
              $('#gallery .nav.full').click(function(){
                var layout = $(this).hasClass('full') ? 'maximize' : 'full';
                $('#gallery').zigfy('switchLayout', layout);
                $(this).removeClass('full', 'maximize').addClass(layout);
                });
              $('#gallery').click(function(event){
                if(!$(event.target).hasClass('zigfy')){
                  return false;
                }
                $('#gallery').fadeOut();
                });
              $(window).keypress(function(event){
                var $gal = $('#gallery');
                if($gal.is(':visible')){
                  switch(event.keyCode || event.which){
                    case 102: // f
                    case 70: // F
                      var layout = $gal.hasClass('full') ? 'maximize' : 'full';
                      $gal.zigfy('switchLayout', layout);
                      $gal.removeClass('full', 'maximize').addClass(layout);
                      break;
                    case 39: // right
                      $gal.zigfy('next');
                      break;
                    case 37: // left
                      $gal.zigfy('prev');
                      break;
                  }
                }
              });
            });
          </script>
        </body>
      </html>
