<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>         <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
    <!--[if IE 8]>         <html class="lt-ie9" lang="en"> <![endif]-->
      <!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
        <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>{% if not(is_front_page) %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
          {% if meta.description %}
          <meta name="description" content="{{ meta.description }}">
          {% endif %}
          {% if meta.robots %}
          <meta name="robots" content="{{ meta.robots }}">
          {% endif %}
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="icon" href="{{ theme_url }}/favicon.ico" type="image/x-icon" />
          <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
          <link rel="stylesheet" href="{{ theme_url }}/styles/main.css">
          <link rel="stylesheet" href="{{ theme_url }}/styles/navigataur.css">
          <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
          <script type="text/javascript" src="{{ theme_url }}/javascripts/vendor/respond.min.js"></script>
        </head>
        <body class="index">
          <div id="container" class="pure-g-r">

            <div class="sidebar pure-u">
              {% if not(current_page.url == base_url ~ '/') %}
              <a href="{{ parent_url }}" class="previous">
                <!-- <img src="{{ theme_url }}/images/logo.png" alt="{{ site_title }}" /> -->
              </a>
              {% endif %}
              <div class="rotbox">
                <a href="{{ current_page.url }}" class="current">{% if meta.title %}{{ meta.title }}{% else %}{{ meta.url | shorturl }}{% endif %}</a>
              </div>
            </div>
            <div class="pure-u-1">
              <div id="content">
                <!-- 
                <div class="post">
                  <h2><a href="{{ current_page.url }}">{{ current_page.title }}</a></h2>
                  <p class="meta">Published {{ current_page.date_formatted }}</p>
                  <p class="excerpt">{{ current_page.excerpt }}</p>                
                </div>
                -->
                <div class="header">
                  <div class="post">
                    {% if meta.title %}
                    <h2>{{ meta.title }}</h2>
                    {% endif %}
                    {% if meta.date %}
                    <p class="meta">Published {{ meta.date_formatted }}</p>
                    {% endif %}
                    {% spaceless %}{{ content }}{% endspaceless %}
                  </div>
                </div>
                {% for section_name, section_pages in sections %}
                {% for page in section_pages %}
                <a class="section {{ section_name }}" href="{{ page.url }}" title="{{ page.description }}">{{ page.title }}</a>
                {% endfor %}
                {% endfor %}
              </div>
            </div>
          </div>
        </body>
      </html>
