html {
  background: url(../images/raster.png) repeat;
}

body {
    color: #333;
    font-family: 'PT Sans', Helvetica Neue, Arial, sans-serif;
    background: white;
    box-shadow: 0 0 25px white;
}

body.index, body.page {
    padding-bottom: 50px;
}

a {
    color: #333;
    text-decoration: none;
}

h2 {
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
}

#container {  
    padding-left: 16em;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 16em;
    margin-left: -16em;
    color: #fff;
    padding-top: 5em;
    text-align: center;
    background: black; /* #2c3e50; */
    box-shadow: 0 0 5px black;
}

.sidebar .previous {
  display: block;
  height: 100px;
  margin-top: -5em;
  background: url(../images/back.png) no-repeat 50% 50%;
}

.sidebar .current {
  display: block;
  transform: rotate(270deg);
  font-weight: bold;
  font-size: 3em;
  margin: 50px 0px;
  line-height: 1.5em;
  color: #333;
  text-shadow: 0px 0px 5px #222;
}
.sidebar .current:hover {
  text-shadow: 0px 0px 25px #333;
}

#content {
    padding: 2em 3em 0;
}

body.index #content {
    padding: 2em 0 0;
}
body.index #content .header {
  padding: 0 3em;
}
body.index .post, body.page .header .post {
    background: #efefef;
    color: gray;
}
body.index .section {
  padding: 0 3em;
  font-size: 2em;
  line-height: 2em;
  display: block;
  text-transform: capitalize;
}
body.index a.section:hover {
  color: white;
}
body.index .index {
  background: #6d9f6d url(../images/section-index.png) no-repeat 25px 50%;
}
body.index .gallery {
  background: #ff4d4d url(../images/section-gallery.png) no-repeat 25px 50%;
}
body.index .page {
  background: #6d9dff url(../images/section-page.png) no-repeat 25px 50%;
}

body.gallery .thumbnails {
  text-align: center;
  margin-bottom: 50px;
}
body.gallery .thumbnails img {
  border: 5px solid white;
  box-shadow: 3px 3px 5px #aaa;
  margin: 10px;
  cursor: pointer;
}
body.gallery #gallery {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}
body.gallery #gallery:after {
  content: "Click background to exit";
  color: #333;
  font-size: 2em;
  text-shadow: 1px 1px 15px #333;
  position: absolute;
  top: 20px;
  left: 20px;
}

.pure-menu-custom ul {
    margin-top: 1em;
}

.pure-menu-custom.pure-menu-open, .pure-menu-custom.pure-menu-horizontal li .pure-menu-children {
    background: none;
    border: none;
}

.pure-menu-custom a, .pure-menu-custom .pure-menu-can-have-children>li:after {
    color: #fff;
}

.pure-menu-custom .pure-menu-selected a {
    color: #1abc9c;
}

.body, .post {
    margin-bottom: 2em;
    font-size: 1.5em;
}

.post a{
    text-decoration: underline;
}

.post>h2 a {
    text-decoration: none;
}

.meta {
    margin: 0;
    color: #777;
    font-size: .8em;
}

blockquote {
    border-left: .3em solid #1abc9c;
    margin-left: 0;
    padding-left: 1.5em;
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
        padding-top: 0;
    }
    .sidebar .current {
      transform: none;
      display: inline-block;
    }
    .sidebar .previous {
      width: 200px;
      display: inline-block;
      font-weight: bold;
      font-size: 3em;
      color: #333;
      margin: 50px 0px;
      line-height: 1.5em;
      height: 1.5em;
      position: absolute;
      left: 0px;
      top: 0px;
    }
    
    #container {
        padding: 0;
    }
    
    .pure-menu-custom ul {
        margin-top: 0;
    }
}

@media only screen and (max-width: 480px) {
    #content {
        padding: 2em 1em 0;
    }
}
